src/main/mule/demo-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="54fb1b46-b111-426f-aef2-93f61f82e70d" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<flow name="demo-testFlow" doc:id="97b5b5e9-b0f3-4ae0-b4c7-68c0cfe73861" >
		<http:listener doc:name="Listener" doc:id="27b4141b-cf81-4578-bacf-8417d9c35633" config-ref="HTTP_Listener_config" path="/jenkins-test"/>
		<ee:transform doc:name="Transform Message" doc:id="1f3e29be-f04f-4c70-95d0-aed986181210" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var currencey = payload.currency
var country = payload.country
---
country map {
	country:($),
	currency: currencey[$$]
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
